<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367771052248-63k9lsal3fndlsr8mg02qqfna5ian86k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367771052248-63k9lsal3fndlsr8mg02qqfna5ian86k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367771052248-dmtvt2q5jvacgaoj69u8a1542dujki27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ru2DdN7vfAKE2Ba8v56ja2Lg_gR-wAc</string>
	<key>GCM_SENDER_ID</key>
	<string>367771052248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harpreet.com.truetech</string>
	<key>PROJECT_ID</key>
	<string>truetech-56324</string>
	<key>STORAGE_BUCKET</key>
	<string>truetech-56324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367771052248:ios:bf356002f367b22cf4cfad</string>
	<key>DATABASE_URL</key>
	<string>https://truetech-56324.firebaseio.com</string>
</dict>
</plist>